/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;   
}
/* Navbar styles */

#navbar {
    max-width: 1600px;
    max-height: 92px;
    
}

#navber .navber-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background-color: rgb(236, 201, 201);
}

#navber .navber-container .logo img {
    width: 120px;
    height: auto;
    
}
#navber .navber-container .navber-links ul {
    list-style: none;
    display: flex;
    gap: 32px;
    text-decoration: none;

}
#navber .navber-container .navber-links ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 19px;    
}
#navber .navber-container .navber-links ul li a:hover {
    color: rgb(209, 29, 29);
}
#navber .navber-button {
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 4px ;
    text-decoration: none;
    font-weight: 600;
    border: none;
}
