/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;   
}
/* Navbar styles */

#navbar {
    max-width: 1600px;
    max-height: 92px;
    
}

#navber .navber-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background-color: rgb(236, 201, 201);
}

#navber .navber-container .logo img {
    width: 120px;
    height: auto;
    
}
#navber .navber-container .navber-links ul {
    list-style: none;
    display: flex;
    gap: 32px;
    text-decoration: none;

}
#navber .navber-container .navber-links ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 19px;    
}
#navber .navber-container .navber-links ul li a:hover {
    color: rgb(209, 29, 29);
}
#navber .navber-button {
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 4px ;
    text-decoration: none;
    font-weight: 600;
    border: none;
}

.hero {
background-image: url(./assets/hero-bg.png);
    width: auto;
height: 674px;
display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.hero-container {

  max-width: 800px;
  padding: 20px;
}
.hero .hero-text {
display: inline-flex;
align-items: center;
background: #ffffff;
padding: 8px 12px;
border: 1px solid #ffffff;
font-size: 16px;
gap: 6px;
border-radius: 1000px;
color: #4ade80;
}

.hero .hero-text .dot {
  height: 8px;
  width: 8px;
 background-color: #30B868 ;
  border-radius: 8px;
  margin-right: 10px;
 
}

.hero-container h1 {
    width: 770px;
    height: 168px;
    font-size: 72px;
    margin: 20px;
    color:#ffffff;   
}

.lite {
    color: #30B868;
}

p {
    font-size: 18px;
    height: 60px;
    margin-bottom: 40px;
    margin-left: auto;
  margin-right: auto;
  color: #cbd5e1;
}

section .button {
    
display: flex;
  gap: 20px;
  justify-content: center;
  
}
section .button .btn {

    padding: 12px 16px;
  border-radius: 6px;
  text-decoration: none;
}
section .button .button1 {

    background-color: #3e9e6b;
    color: white;

}
section .button .button2 {

    align-items: center;
    color: #000000;

}

.button :hover{
background-color:rgb(209, 29, 29);

}


.notes {
    background-color: #ffffff;

}

.section-header {
    font-size: 48px;
    text-align: center;   
    margin: 60px;
}

.section-header p {

    color: #64748b;
    font-size: 16px;
    margin-bottom: 60px;
}

.notes-section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 24px;

}

.icon {


width: 60px;
    height: 60px;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 24px;
    background-color: #ff5a5f;

}

.card {
    background: #ffffff;
    padding: 40px 144px;

}

.card h3 {

    font-size: 24px;
    margin-bottom: 12px;
    
}

.card p {
color: #64748b;
font-size: 15px;

}





